evem-ndm-vmesnik/xsd/ndm/evem-ndm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Branko Crček (SRC.SI d.o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ndm="http://www.src.si/schemas/evem/ndm/20160107" targetNamespace="http://www.src.si/schemas/evem/ndm/20160107" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EvemNDMDocument" type="ndm:EvemNDMDocumentType"/>
	<xs:complexType name="EvemNDMDocumentType">
		<xs:annotation>
			<xs:documentation>Vloga</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Info">
				<xs:annotation>
					<xs:documentation>Meta podatki</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ndm:InfoType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Zahtevek">
				<xs:annotation>
					<xs:documentation>Digitalno podpisan zahtevek za nadomestilo tipa crea:Document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ObracunRocniVnosDelovniKoledar" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Ali ima posamezen obračun ročno vnešene določene datume in nima vpisanega celotnega delovnega
                          koledarja</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="idObracuna" type="xs:string" use="required"/>
								<xs:attribute name="rocniVnos" type="xs:boolean"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="xmlZahtevka" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Priloga" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Digtalno podpisana priloga, ki spada ali k zahtevku ali k obračuna tipa crea:Document</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ndm:ZzzsCreaType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZzzsCreaType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="id" type="xs:ID" use="required">
					<xs:annotation>
						<xs:documentation>Enolični identifikator dokumenta, ki je vpisan na zahtevku oz. obračunu</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InfoType">
		<xs:sequence>
			<xs:element name="Referent" type="ndm:ReferentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Podatki o referentu</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="ndm:metaInfo"/>
	</xs:complexType>
	<xs:complexType name="ReferentType">
		<xs:attribute name="ime" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Ime referenta</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="priimek" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Priimek referenta</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="oznaka" type="xs:string">
			<xs:annotation>
				<xs:documentation>Enolična oznaka referenta</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="email" type="xs:string">
			<xs:annotation>
				<xs:documentation>Kontaktni naslov</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="telefon" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Kontaktni telefon</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="metaInfo">
		<xs:attribute name="datumPriprave" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>Datum in čas priprave dokumenta</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="oznakaDokumenta" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Enolična oznaka dokumenta</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="EmbeddedDataType" mixed="true">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any namespace="##any"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VlogaInfoType">
		<xs:attribute name="ms" type="xs:string" use="required"/>
		<xs:attribute name="evem-st" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="VlogaStatusType">
		<xs:sequence>
			<xs:element name="status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="opis" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="seznam-napak" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="status-zzzs-msg" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="opis" type="xs:string"/>
									<xs:element name="ukrep" type="xs:string" minOccurs="0"/>
								</xs:sequence>
								<xs:attribute name="id" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="idObracun" type="xs:short"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ms" type="xs:string" use="required"/>
		<xs:attribute name="evem-st" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="NdmValidationErrorType">
		<xs:sequence>
			<xs:element name="error" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="key" type="xs:string" use="required"/>
					<xs:attribute name="field" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="idObracuna" type="xs:short" use="required"/>
	</xs:complexType>
	<xs:complexType name="NdmValidationErrorsType">
		<xs:sequence>
			<xs:element name="validation-errors" type="ndm:NdmValidationErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NdmZZZSErrorsType">
		<xs:sequence>
			<xs:element name="error" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="opis" type="xs:string"/>
						<xs:element name="ukrep" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NdmWSErrorsType">
		<xs:sequence>
			<xs:element name="opis" type="xs:string" minOccurs="0"/>
			<xs:element name="opisDetail" type="xs:string" minOccurs="0"/>
			<xs:element name="zzzs-errors" type="ndm:NdmZZZSErrorsType" minOccurs="0"/>
			<xs:element name="validation-errors" type="ndm:NdmValidationErrorsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="wsErrorId" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="FilterType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="poslovneEnote">
				<xs:annotation>
					<xs:documentation>Filtriranje matičnih številk poslovnih enot, za katere se pridobiva EBOL</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vse" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Oznaka, ali se pridobi podatke za vse poslovne enote subjekta</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ms" type="ndm:MaticnaType" minOccurs="0" maxOccurs="10">
							<xs:annotation>
								<xs:documentation>Matična številka poslovne enote</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NdmWSErrors" type="ndm:NdmWSErrorsType"/>
	<!-- END ELEMENTS -->
	<!-- BEGIN REQUESTS -->
	<xs:element name="OddajVlogoReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ndm:EvemNDMDocument"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusiVlogReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vloga-info" type="ndm:VlogaInfoType" maxOccurs="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusiVlogRes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="vloga" type="ndm:VlogaStatusType" maxOccurs="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEBolReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ms" type="ndm:MaticnaType"/>
				<xs:element name="eBolSeznam">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="eBol" maxOccurs="50">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:long">
											<xs:annotation>
												<xs:documentation>Številka bolniškega lista</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="oznaka">
											<xs:annotation>
												<xs:documentation>Oznaka bolniškega lista (1 - redni, 2 - preklic)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:short">
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="vpogledovalec" type="ndm:vpogledovalecType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getListEBolReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="stran" type="xs:positiveInteger"/>
				<xs:element name="ms" type="ndm:MaticnaType"/>
				<xs:sequence>
					<xs:sequence>
						<xs:element name="obdobjeOd" type="xs:dateTime"/>
						<xs:element name="obdobjeDo" type="xs:dateTime"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="letoMesec" type="ndm:tLetoMesecRequest"/>
					</xs:sequence>
				</xs:sequence>
				<xs:element name="vpogledovalec" type="ndm:vpogledovalecType"/>
				<xs:element name="filter" type="ndm:FilterType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getListMeseciEBolReq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ms" type="ndm:MaticnaType"/>
				<xs:element name="obdobjeOd" type="xs:dateTime"/>
				<xs:element name="obdobjeDo" type="xs:dateTime"/>
				<xs:element name="vpogledovalec" type="ndm:vpogledovalecType"/>
				<xs:element name="filter" type="ndm:FilterType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="tLetoMesecRequest">
		<xs:annotation>
			<xs:documentation>Leto in mesec zadržanosti v zahtevku metode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="leto">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>leto</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:short">
						<xs:maxInclusive value="2999"/>
						<xs:minInclusive value="1900"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mesec">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>mesec</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:short">
						<xs:maxInclusive value="12"/>
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="emsoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dsType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="zzzsStType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="20000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nazivVpogledovalcaType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="namenVpogledaType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
			<xs:minLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="vpogledovalecType">
		<xs:sequence>
			<xs:element name="ds" type="ndm:dsType"/>
			<xs:element name="nazivVpogledovalca" type="ndm:nazivVpogledovalcaType"/>
			<xs:element name="namen" type="ndm:namenVpogledaType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MaticnaType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="getEBolPDFResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NDMFile" type="ndm:NDMFileType" maxOccurs="50"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="NDMFileType">
		<xs:sequence>
			<xs:element name="data" type="xs:string"/>
			<xs:element name="dataEncoding">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Base64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fileName" type="xs:string"/>
			<xs:element name="mimetype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="application/zip"/>
						<xs:enumeration value="application/pdf"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
