XML shema za modri eBOL/ModriBol.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 sp1 (http://www.altova.com) by Mitja (ZZZS Informacijski center) -->
<xs:schema xmlns:nboM="http://zzzs.si/b2b/nbo/0001/DataTypes/nboModriDataType" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://zzzs.si/b2b/nbo/0001/DataTypes/nboModriDataType" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="0001">
	<xs:import namespace="http://www.w3.org/2001/04/xmlenc#" schemaLocation="../Crypto/xenc-schema.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../Crypto/xmldsig-core-schema.xsd"/>
	<xs:element name="PotrdiloOZadrzanostiOdDela">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Podatki">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Storno" minOccurs="0">
								<xs:complexType>
									<xs:attribute name="sifra" use="required">
										<xs:simpleType>
											<xs:restriction base="nboM:tSifraSmallint1_1"/>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="StevilkaPotrdilaOZadrzanostiOdDela" type="nboM:tStevilkaPotrdilaOZadrzanostiOdDela"/>
							<xs:element name="ZavarovanaOseba">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ZZZSStevilka" type="nboM:tStevilkaZzzsOse">
											<xs:annotation>
												<xs:documentation>ZZZS stevilka osebe</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SifraZavarovalnePodlageIzOZZ">
											<xs:annotation>
												<xs:documentation>Sifra zavarovalne podlage</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="sifra" type="nboM:tSifraChar6_6" use="required">
													<xs:annotation>
														<xs:documentation>Za tuje osebe, ki uveljavljajo zavarovanje prek EUKZZ ali kartice Medicare se vpise 999999.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="SifraIzpostaveLokacijeZaposlitve">
											<xs:complexType>
												<xs:attribute name="sifra" type="nboM:tSifraSmallint1_6" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="ImeOsebe">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="nboM:tImeOsebe"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="DatumRojstva" type="nboM:tDatum"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PovezanaOseba" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SifraVrstePovezaneOsebe">
											<xs:annotation>
												<xs:documentation>Vrsta povezane osebe
1-partner
2-otrok
3-drugo
</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="sifra" use="required">
													<xs:simpleType>
														<xs:restriction base="nboM:tSifraSmallint1_1">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ImeOsebe">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="nboM:tImeOsebe"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="DatumRojstva" type="nboM:tDatum"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PrviDanZadrzanosti">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DatumPrvegaDneZadrzanosti" type="nboM:tDatum"/>
										<xs:element name="PrejsnjaZadrzanostRecidiv" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DatumOd" type="nboM:tDatum">
														<xs:annotation>
															<xs:documentation>Prejsnja zadrzanost od dela – od (recidiv)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="DatumDo" type="nboM:tDatum">
														<xs:annotation>
															<xs:documentation>Prejsnja zadrzanost od dela – do (recidiv)</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ZadnjiDanZadrzanosti">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ZaDiagnozo" type="xs:boolean"/>
										<xs:element name="ZaRazlog" type="xs:boolean"/>
										<xs:element name="ZaPlacnika" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Zavezanec">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RegistrskaStevilka" type="nboM:tRegistrskaStevilka"/>
										<xs:element name="ZaporednaStevilkaPotrdila" type="nboM:tSifraSmallint1_9"/>
										<xs:element name="NazivZavezanca">
											<xs:simpleType>
												<xs:restriction base="nboM:tBesedilo">
													<xs:maxLength value="250"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SifraDejavnosti" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="sifra" type="nboM:tSifraChar6_6" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CasZadrzanostiOdDela">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ZadrzanostZaPolniDelovniCas" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DatumOd" type="nboM:tDatum"/>
													<xs:element name="DatumDo" type="nboM:tDatum"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="ZadrzanostZaKrajsiDelovniCas" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DatumOd" type="nboM:tDatum"/>
													<xs:element name="DatumDo" type="nboM:tDatum"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SteviloUrDelovneObveznostiNaDan" type="nboM:tUrNaDan" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Maksimalno 24 ur</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SteviloUrZadrzanostiNaDan" type="nboM:tUrNaDan" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Maksimalno 24 ur</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RazlogZadrzanosti">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SifraRazlogaZadrzanosti">
											<xs:annotation>
												<xs:documentation>Sifra razloga zadrzanosti po šifrantu 10.2.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="sifra" use="required">
													<xs:simpleType>
														<xs:restriction base="nboM:tSifraSmallint1_2">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
															<xs:enumeration value="4"/>
															<xs:enumeration value="5"/>
															<xs:enumeration value="6"/>
															<xs:enumeration value="7"/>
															<xs:enumeration value="8"/>
															<xs:enumeration value="9"/>
															<xs:enumeration value="10"/>
															<xs:enumeration value="11"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="DatumPrvegaDneZadrzanostiZaRazlog" type="nboM:tDatum"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DatumIzdajePotrdila" type="nboM:tDatum"/>
							<xs:element name="KrajIzdajePotrdila">
								<xs:simpleType>
									<xs:restriction base="nboM:tBesedilo">
										<xs:maxLength value="60"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Podpisnik" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="nboM:tBesedilo">
										<xs:maxLength value="45"/>
										<xs:minLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ds:Signature" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="tDatum">
		<xs:annotation>
			<xs:documentation>Datum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="(\d{4})-(\d{2})-(\d{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStevilkaZzzs">
		<xs:annotation>
			<xs:documentation>Stevilka ZZZS osebe 8-9 mest brez vodilnih 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStevilkaZzzsOse">
		<xs:annotation>
			<xs:documentation>Stevilka ZZZS osebe 8-9 mest brez vodilnih 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tStevilkaZzzs">
			<xs:minInclusive value="20000000"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStevilkaZzzsIzv">
		<xs:annotation>
			<xs:documentation>Stevilka ZZZS izvajalca 2-9 mest brez vodilnih 0</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tStevilkaZzzs">
			<xs:minInclusive value="10"/>
			<xs:maxInclusive value="19999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBesedilo">
		<xs:annotation>
			<xs:documentation>Besedilo omejeno na minimalno en znak z ohranjanjem presledkov</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tVezaj">
		<xs:annotation>
			<xs:documentation>Vezaj ali presledek</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:length value="1"/>
			<xs:enumeration value=" "/>
			<xs:enumeration value="-"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifra">
		<xs:annotation>
			<xs:documentation>Splosen tip sifra</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="tSifraSmallint1_1">
		<xs:annotation>
			<xs:documentation>Razsirjen tip Sifra, ki lahko vsebuje stevilke in je fiskne dolzine 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tSifra">
			<xs:length value="1"/>
			<xs:pattern value="\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraSmallint1_2">
		<xs:annotation>
			<xs:documentation>Razsirjen tip Sifra, ki lahko vsebuje stevilke in je lahko dolzine 1 ali 2. Ne sme vsebovati vodilnih nicel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tSifra">
			<xs:maxLength value="2"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9]|[1-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraSmallint1_6">
		<xs:annotation>
			<xs:documentation>Razsirjen tip Sifra, ki lahko vsebuje stevilke in je lahko dolzine od 1 do 6. Ne sme vsebovati vodilnih nicel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tSifra">
			<xs:maxLength value="6"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9]|([1-9]\d{1,5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraSmallint1_9">
		<xs:annotation>
			<xs:documentation>Razsirjen tip Sifra, ki lahko vsebuje stevilke in je lahko dolzine od 1 do 9. Ne sme vsebovati vodilnih nicel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tSifra">
			<xs:maxLength value="9"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[0-9]|([1-9]\d{1,8})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraChar6_6">
		<xs:annotation>
			<xs:documentation>Razsirjen tip Sifra, ki lahko vsebuje katerekoli znake in je fiskne dolzine 6</xs:documentation>
		</xs:annotation>
		<xs:restriction base="nboM:tSifra">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRegistrskaStevilka">
		<xs:annotation>
			<xs:documentation>Registrska stevilka lahko vsebuje samo stevilke</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="\d{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStevilkaPotrdilaOZadrzanostiOdDela">
		<xs:annotation>
			<xs:documentation>Stevilka Potrdila o zadrzanosti od dela</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tUrNaDan">
		<xs:annotation>
			<xs:documentation>Stevilka Potrdila o zadrzanosti od dela</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="tImeOsebe">
		<xs:annotation>
			<xs:documentation>tip ime osebe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Priimek1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Priimek2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PriimekVezaj" type="nboM:tVezaj" minOccurs="0"/>
			<xs:element name="Ime1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ime2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ImeVezaj" type="nboM:tVezaj" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
