evem-ndm-vmesnik/xsd/zzzs/NBODataTypesDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Tadej Poljsak (ZZZS Informacijski center) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ws="http://zzzs.si/b2b/nsk/wsGlobalTypes" xmlns:nbo="http://zzzs.si/b2b/nbo/globalTypes" xmlns:noz="http://zzzs.si/b2b/noz/globalTypes" targetNamespace="http://zzzs.si/b2b/nbo/globalTypes" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.3">
	<xs:import namespace="http://zzzs.si/b2b/noz/globalTypes" schemaLocation="NOZDataTypesDefinitions.xsd"/>
	<xs:import namespace="http://zzzs.si/b2b/nsk/wsGlobalTypes" schemaLocation="NSKDataTypesDefinitions.xsd"/>
	<!--Enostavni tipi-->
	<xs:simpleType name="tIdBolniskiList">
		<xs:annotation>
			<xs:documentation>Številka bolniškega lista</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="tMesec">
		<xs:annotation>
			<xs:documentation>Mesec</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="12"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tLeto">
		<xs:annotation>
			<xs:documentation>Leto</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:maxInclusive value="2999"/>
			<xs:minInclusive value="1900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tMaticnaStevilkaPE">
		<xs:annotation>
			<xs:documentation>Matična številka poslovne enote</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOznakaBolniskegaLista">
		<xs:annotation>
			<xs:documentation>Oznaka bolniškega lista (1 - redni, 2 - preklic)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPridobiPodatkeZaVsePE">
		<xs:annotation>
			<xs:documentation>Oznaka, ali se pridobi podatke za poslovne enote subjekta</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="tVrstaBolniskegaLista">
		<xs:annotation>
			<xs:documentation>Vrsta bolniškega lista (Z - zeleni, M - modri)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Z"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraNapake">
		<xs:annotation>
			<xs:documentation>Šifra napake</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSifraZavarovalnePodlage">
		<xs:annotation>
			<xs:documentation>Šifra zavarovalne podlage</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSteviloStrani">
		<xs:annotation>
			<xs:documentation>Število strani na seznamu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="tStran">
		<xs:annotation>
			<xs:documentation>Številka strani na seznamu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="tStUrDan">
		<xs:annotation>
			<xs:documentation>Število ur</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Sestavljeni tipi-->
	<xs:complexType name="tBolniskiList">
		<xs:annotation>
			<xs:documentation>Podatki bolniškega lista</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Zavarovanec" type="nbo:tOseba">
				<xs:annotation>
					<xs:documentation>Podatki o zavarovani osebi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PovezanaOseba" type="nbo:tOseba" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Podatki o povezani osebi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Zadrzanost" type="nbo:tZadrzanost">
				<xs:annotation>
					<xs:documentation>Podatki o zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Id" type="nbo:tIdBolniskiList" use="required">
			<xs:annotation>
				<xs:documentation>Številka bolniškega lista</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OznakaBolniskegaLista" type="nbo:tOznakaBolniskegaLista" use="required">
			<xs:annotation>
				<xs:documentation>Oznaka bolniškega lista (1 - redni, 2 - preklic)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VrstaBolniskegaLista" type="nbo:tVrstaBolniskegaLista" use="required">
			<xs:annotation>
				<xs:documentation>Vrsta bolniškega lista (Z - zeleni, M - modri)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tEBOL">
		<xs:sequence>
			<xs:element name="Vsebina" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="Id" type="nbo:tIdBolniskiList" use="required">
			<xs:annotation>
				<xs:documentation>Številka bolniškega lista</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OznakaBolniskegaLista" type="nbo:tOznakaBolniskegaLista" use="required">
			<xs:annotation>
				<xs:documentation>Oznaka bolniškega lista (1 - redni, 2 - preklic)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="VrstaBolniskegaLista" type="nbo:tVrstaBolniskegaLista" use="required">
			<xs:annotation>
				<xs:documentation>Vrsta bolniškega lista (Z - zeleni, M - modri)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tGlavaResponse">
		<xs:annotation>
			<xs:documentation>Glava odgovora na standardni zahtevek SOAP sporočila	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sporocilo" type="ws:tSporocilo">
				<xs:annotation>
					<xs:documentation>Podatki o sporočilu</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UspesnostIzvedbe" type="nbo:tUspesnostIzvedbe"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tLetoMesecRequest">
		<xs:annotation>
			<xs:documentation>Leto in mesec zadržanosti v zahtevku metode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Leto" type="nbo:tLeto">
				<xs:annotation>
					<xs:documentation>Leto zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mesec" type="nbo:tMesec">
				<xs:annotation>
					<xs:documentation>Mesec zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tLetoMesecResponse">
		<xs:annotation>
			<xs:documentation>Leto in mesec zadržanosti v odgovoru metode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Leto" type="nbo:tLeto">
				<xs:annotation>
					<xs:documentation>Leto zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mesec" type="nbo:tSifraOpis">
				<xs:annotation>
					<xs:documentation>Mesec zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StRednihEBol" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Število rednih bolniških listov</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StPreklicanihEBol" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Število preklicanih bolniških listov</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tNapaka">
		<xs:annotation>
			<xs:documentation>Podatki o napaki (šifra, opis napake ter navodilo za odpravo)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Opis">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ukrep" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="120"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Id" type="nbo:tSifraNapake" use="required"/>
	</xs:complexType>
	<xs:complexType name="tOseba">
		<xs:annotation>
			<xs:documentation>Podatki o osebi</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Emso" type="noz:EmsoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Enotna matična številka osebe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZzzsStevilka" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ZZZS številka osebe</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="noz:ZzzsStevilkaType">
						<xs:minInclusive value="20000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DtRojstva" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum rojstva osebe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ime1">
				<xs:annotation>
					<xs:documentation>Ime osebe 1.del</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ime2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ime osebe 2.del</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VezajIme" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vezaj med imenoma osebe</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Priimek1">
				<xs:annotation>
					<xs:documentation>Priimek osebe 1.del</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Priimek2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Priimek osebe 2.del</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VezajPriimek" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vezaj med priimkoma osebe</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VrstaPovezaneOsebe" type="nbo:tSifraOpis" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Šifra vrste družinskega člana: 1 (otrok), 2 (zakonec);
Šifra vrste povezane osebe: 11 (partner), 12 (otrok), 13 (drugo)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tPooblastila">
		<xs:annotation>
			<xs:documentation>Pooblastila za pridobivanje podatkov</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PridobiPodatkeZaVsePE" type="nbo:tPridobiPodatkeZaVsePE">
				<xs:annotation>
					<xs:documentation>Oznaka, ali se pridobi podatke za poslovne enote subjekta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaticneStevilkePE" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Seznam matičnih številk poslovnih enot, za katere se pridobiva EBOL</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MaticnaStevilkaPE" type="nbo:tMaticnaStevilkaPE" maxOccurs="10">
							<xs:annotation>
								<xs:documentation>Matična številka poslovne enote</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tSifraOpis">
		<xs:annotation>
			<xs:documentation>Generična šifra podatka in njen opis</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Id" type="xs:short" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="tUspesnostIzvedbe">
		<xs:annotation>
			<xs:documentation>Uspešnost izvedbe zahtevka (vsebuje še nasvet za odpravo napake)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VseOk" type="xs:boolean"/>
			<xs:element name="Napaka" type="nbo:tNapaka" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tZadrzanost">
		<xs:annotation>
			<xs:documentation>Podatki o zadržanosti</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dt1DanZadrzanosti" type="ws:tDatum">
				<xs:annotation>
					<xs:documentation>1. dan zadržanosti (prvi dan celotne zadržanosti)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dt1DanZadrzanostiZaRazlog" type="ws:tDatum">
				<xs:annotation>
					<xs:documentation>Datum prvega dne zadržanosti za razlog</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtZadrzanostiPolniOd" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zadržanost za polni delovni čas od</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtZadrzanostiPolniDo" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zadržanost za polni delovni čas do</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtZadrzanostiKrajsiOd" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zadržanost za krajši delovni čas od</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtZadrzanostiKrajsiDo" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zadržanost za krajši delovni čas do</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtRecidivOd" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum začetka prejšnje zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DtRecidivDo" type="ws:tDatum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Datum konca prejšnje zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StUrDolzanDelati" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Število ur, ki jih je zavarovanec dolžan delati na dan</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="nbo:tStUrDan"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StUrZadrzan" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Število ur na dan, ko je zavarovanec zadržan od dela</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="nbo:tStUrDan"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RazlogZadrzanosti" type="nbo:tSifraOpis">
				<xs:annotation>
					<xs:documentation>Razlog zadržanosti</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SifraZavarovalnePodlage" type="nbo:tSifraZavarovalnePodlage">
				<xs:annotation>
					<xs:documentation>Šifra zavarovalne podlage</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Globalni elementi-->
</xs:schema>
